.content {
	width: 700px;
	background: #f9f9f9;
	font-family: Lato;
	color: #999;
}
.left {
	padding: 20px 0 20px 20px;
}
.main {
	padding: 20px 20px 20px 0;
}

h1 {
	font-size: 65px;
    margin: 0;
    color: #000;
}

h2 {
	color: #333;
	margin-top: 20px;
	margin-bottom: 10px;
}
.resume {
	font-size: 16px;
	margin-bottom: 38px;
	text-align: justify;
}
.left .image {
	margin-bottom: 20px;
	width: 220px;
}
.item .title {
	font-size: 16px;
	font-weight: bold;
    color: #666;
}
ul {
	list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

ul li {
	padding-top: 5px;
}
.workTitle {
	padding-top: 10px;
}
.workTitle .image {
	float: left;
	width: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.footer {
	background: #666;
	padding: 15px;
	text-align: center;
	font-size: 14px;
	color: #EEE;
}