body {
    font-family: 'Raleway', sans-serif;
    a, .dropdown-item {
    	color: #424242;
		&:hover {
			color: #208AEC;
			text-decoration: none;
			background: none;
		}
    }
}


.header {
    margin: 16px 0;

    .logo {
    	margin-top: 1px;
    }
}

.footer {
    background: #616161;
    color: #e0e0e0;
    padding: 30px;

    h4 {
    	margin-bottom: 20px;
    }

    a {
    	color: #e0e0e0;
    	margin-top: 10px;
    }

    .social-networks {
    	a {
    		background: #fff;
    		width: 40px;
    		height: 40px;
    		text-align: center;
    		display: inline-block;
    		border-radius: 20px;
    		margin-top: 0;
    		i {
    			color: #616161;
    			font-size: 26px;
    			line-height: 40px;
    		}
    		+ a {
    			margin-left: 16px;
    		}
    	}
    }

    .footer-item {
    	display: block;
    }
}
.footer-link {
	border-top: 1px solid #e0e0e0;
	text-align: center;
	padding: 30px;
	background: #424242;

	a {
    	color: #e0e0e0;
    }
	p {
		margin: 10px 0 0;
	}
}