body {
    font-family: 'Raleway', sans-serif;
    a, .dropdown-item {
    	color: #424242;
		&:hover {
			color: #208AEC;
			text-decoration: none;
			background: none;
		}
    }
}


.header {
    padding: 16px 0;

    .logo {
    	margin-top: 1px;
    }
}

.footer {
    background: #616161;
    color: #e0e0e0;
    padding: 30px;

    h4 {
    	margin-bottom: 20px;
    }

    a {
    	color: #e0e0e0;
    	margin-top: 10px;
    }

    .social-networks {
    	a {
    		background: #fff;
    		width: 40px;
    		height: 40px;
    		text-align: center;
    		display: inline-block;
    		border-radius: 20px;
    		margin-top: 0;
    		i {
    			color: #616161;
    			font-size: 26px;
    			line-height: 40px;
    		}
    		+ a {
    			margin-left: 16px;
    		}
    	}
    }

    .footer-item {
    	display: block;
    }
}
.footer-link {
	border-top: 1px solid #e0e0e0;
	text-align: center;
	padding: 30px;
	background: #424242;

	a {
    	color: #e0e0e0;
    }
	p {
		margin: 10px 0 0;
	}
}
.content {
	max-width: 980px;
	margin: 32px auto;
}
.home-docs2 {
	h1 {
		margin-bottom: 2.5rem;
	}
	h2 {
		margin-bottom: 2rem;
	}
}
.collums {
	display: flex;
	margin: 46px 0;
	
	.collum {
		box-shadow: 0 0 16px #333;
		width: 30%;
		border-radius: 6px;

		+ .collum {
			margin-left: 10%;
		}
	}
	.text {
		padding: 16px;

		h3 {
			font-size: 20px;
			font-weight: bold;
		}

		a {
			color: #208AEC;
			text-decoration: underline;
		}
	}

}
.error-page {
	.align-center {
		text-align: center;
	}

	h1 {
		font-size: 48px;
		margin-bottom: 48px;
		color: #208AEC;
	}

	h2 {
		font-size: 32px;
		margin-bottom: 32px;
	}

	a {
		color: #208AEC;
		text-decoration: underline;
		font-size: 16px;
	}
}
.troubleshooting-page {
	h2 {
		margin-bottom: 48px;
	}
	.search-box {
		margin-bottom: 48px;

		.btn {
			background: #208AEC;
			color: #FFF;
		}
	}
	.error-list {
		margin-bottom: 32px;

		h3 {
			font-weight: bold;
			font-size: 22px;
			margin-bottom: 16px;
		}

		p {
			margin-bottom: 8px;
		}

		a {
			color: #208AEC;
			text-decoration: underline;
			font-size: 16px;
		}
	}
}